[build]
  publish = "dist"
  command = "npm run build"
[build.processing.html]
  pretty_urls = false
[[headers]]
  for = "/_astro/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[redirects]]
  from = "/_og-image/*"
  to = "/.netlify/images?url=/:splat&w=1200&h=630&fit=cover&q=90"
  status = 200
