---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Om',
};
---

<Layout metadata={metadata}>

  <Hero
    tagline="Sajten"
    image={{
      src: '~/assets/images/about_hero.jpg',
      alt: 'Kontroll längs stigen i skogen',
    }}
  >
    <Fragment slot="title">
      Om
      <span class="hidden sm:inline">
        <span class="text-primary highlight">mountainbike</span>
        <span class="text-accent  highlight">orientering.se</span>
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      Den här sidan handlar om mountainbikeorientering med artiklar ungefär som
      en blog! Här kan
      man läsa om framtida tävlingar, bra träningstips, vilken
      utrustning man behöver, hur man ritar kartor, bästa val av cykel, kartställ och kompass, eller hur man sätter ut kontroller
      i skogen - helt enkelt det man behöver veta för att hålla på med
      mountainbikeorientering (MTBO).
      <br><br>
      Allt som finns här på websajten är baserat på öppen källkod och tanken är att alla som vill
      kan vara med och skriva om det den vill berätta om. Det finns olika sätt att vara med och bidra, läs mer nedan.
    </Fragment>
  </Hero>

  <Content
    items={[
      {
        title: 'Öppen källkod på Github',
        description: `Hela sajten bygger på öppen källkod och finns tillgänglig
          på <a class="text-primary hover:underline dark:text-gray-200" href=https://github.com/blaudden/mtbo-sajten>GitHub</a>.
          På så sätt hoppas vi att flera ska vilja bidra till sajten.`,
        icon: 'tabler:brand-github-filled',
      },
      {
        title: 'Skicka in text och bild',
        description: `Det finns olika sätt att vara med och bidra. Enklast är att
          skicka in din artikel som en text och bild via mail.`,
        icon: 'tabler:mail',
      },
      {
        title: 'Github pull request',
        description: `Den som själv vill skriva in eller utveckla någon ny funktion
          gör det med hjälp av ett GitHub konto, efter att ha gjort sina föreslagna
          ändringar skickar man in dom med en pull-request.`,
        icon: 'tabler:git-pull-request',
      },
           {
        title: 'Sociala medier',
        description:
          `Websajten har konton på Facebook, Instagram och YouTube.
          Där delas det som skrivs på sajten och annat som ger MTBO uppmärksamhet.
          Där heter sajten i dom flesta fall "Mountanbikeorientering", se länkar längst ner.`,
        icon: 'tabler:wand',
      },
      {
        title: 'Både svenska och engelska',
        description:
          `Dom flesta artiklar är på svenska, men i flera fall vänder
          sig sajten till mountainbiekorienterare i andra länder och då
          skrivs artiklarna även på engelska.`,
        icon: 'tabler:world',
      },
      {
        title: 'Initiativtagare och administratör',
        description: `Initiativtagare till sajten och dess administratär är
          Magnus Blåudd, med sin erfarenhet av systemutveckling ansvarar han
          både för sajtens innehåll och funktion.`,
        icon: 'tabler:hammer',
      },
    ]}
    image={{
      src: '~/assets/images/about_skog.jpg',
      alt: 'Stig i MTBO skogen',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Så fungerar sajten</h3>
    </Fragment>
  </Content>


  <Features2
    title="Olika sätt att få mer information om mountainbikeorientering "
    tagline="Kontakt"
    columns={3}
    items={[
      {
        title: 'Skicka mail',
        description:
          'Vid frågor om sajten mountainbikeorientering.se och dess innehåll.',
        icon: 'tabler:mail',
        callToAction: {
          variant: 'primary',
          target: '_blank',
          text: 'Skicka mail',
          href: 'mailto:mountainbikeorientering@gmail.com',
        },
      },
      {
        title: 'Facebook sidan',
        description:
          'Följ oss på facebook.com/mountainbikeorientering.',
        icon: 'tabler:brand-facebook',
        callToAction: {
          variant: 'primary',
          target: '_blank',
          text: 'Facebook sida',
          href: 'https://facebook.com/mountainbikeorientering',
        },
      },
      {
        title: 'MTBO Sverige gruppen',
        description:
          'Via Facebook gruppen "MTBO Sverige" kan du ställa frågor och få tips.',
        icon: 'tabler:brand-facebook',
        callToAction: {
          variant: 'primary',
          target: '_blank',
          text: 'MTBO Sverige på Facebook',
          href: 'https://www.facebook.com/groups/357934787713',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
</Layout>
