---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

---

<Layout>
  <Hero
    image={{ src: '~/assets/images/hero.jpg', alt: 'Mountainbikeorienterare i full fart' }}
  >
    <Fragment slot="title">
      <span class="block mb-1 sm:hidden">Välkommen!</span>
      <span class="hidden sm:inline">Välkommen till
        <span class="text-primary highlight">mountainbike</span>
        <span class="text-accent  highlight">orientering.se</span>
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      Här <span class="inline sm:hidden">på
        <span class="text-primary highlight">mountainbike</span>
        <span class="text-accent  highlight">orientering.se</span>
      </span> hittar du intressanta artiklar om kommande tävlingar och annat
      som är bra att veta för dig som gillar mountainbikeorientering.
    </Fragment>
  </Hero>


  <BlogLatestPosts
    title="Blog"
    linkText='Se alla artiklar'
    information={`En blog med allt som kan vara bra att veta för dig som gillar mountainbikeorientering.`}
    count = {8}
  >
  </BlogLatestPosts>

  <Content
    tagline="Sporten"
    title="Om mountainbikeorientering"
    subtitle=""
    items={[
    {
      title: 'Sporten:',
      description:
        `Mountainbikeorientering (MTBO) är en gren inom orientering där
      man använder cykel - oftast en mountainbike - för att ta sig runt en orienteringsbana.
      Banorna går mest på stigar och andra cykel-framkomliga områden.`,
    },
    {
      title: 'Karta:',
      description:
        `Kartan har ett utseende som framhäver det
      som är viktigt när man cyklar. Vägar och stigars snabbhet framgår av kartan
      och ju längre deras streck på kartan är, desto snabbare går stigen att cykla.
      För att kunna läsa kartan medans man cyklar är den fäst på ett kartställ på
      styret, kartstället går att vrida så att man alltid har kartan i färdriktningen -
      det kallas för att "passa" kartan. `,
    },
    {
      title: 'Full fart:',
      description:
        `På cykel färdas man mer än dubbelt
      så fort som när man springer och det är därmed viktigare än någonsin att
      hela tiden hålla reda på var man befinner sig för att kunna ta snabba beslut
      om vart man ska ta vägen härnäst.`,
    },
    ]}
    image={{
      src: '~/assets/images/about.jpg',
      alt: 'Mountainbikeorienterare på väg förbi kontroll',
    }}
  >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Features
    id="utrustning"
    tagline="Utrustning"
    title="Det här är utrustningen som behövs för mountainbikeorientering"
    subtitle="Med en cykel, hjälm och ett kartställ kan du vara med på en tävling. Saknar du kartställ eller tidtagningschip finns det vanligtvis att hyra på tävlingarna."
    items={[
      {
        title: 'Cykel',
        description:
          'Cykeln ska vara avpassad för att kunna välja en väg där du så snabbt som möjligt kan ta dig fram mellan kontrollerna. Ibland innebär det en lång väg runt på en lättcyklad stig medans det i andra fall blir en kortare men långsammare och mer svårcyklad stig. Den cykeln du har och din egen förmåga att använda den är vad som är bäst just för dig. Dom flesta använder en mountainbike av cross-country modell då underlaget kan variera allt mellan asfalt, grus och gräs till olika enkel- eller svår-cyklade stigar.',
        icon: 'tabler:bike',
      },
      {
        title: 'Kartställ',
        description:
          'För att kunna läsa kartan i farten medans man cyklar används ett kartställ som fästs på styret, det kan roteras för att "passa" kartan så att den alltid är i färdriktningen. Det finns olika storlek och material på kartställ, det vanligaste är 30x30cm och gjort i plast. Större kartställ används för att undvika att behöva vika om kartan under tävlingen, det kan spara lite tid. Kartställ med platta gjord av kolfiber används framförallt för att minska vibrationer och därmed göra det enklare att läsa kartan i farten.',
        icon: 'tabler:map-2',
      },
      {
        title: 'Skydd',
        description:
          'Hjälm är obligatoriskt och utan den får man inte starta. För att hålla fartvinden borta och göra det lättare att läsa kartan används glasögon. Det kan också vara lämpligt att använda knä eller armbågsskydd för att skydda utsatta kroppsdelar.',
        icon: 'tabler:helmet',
      },
      {
        title: 'Klädsel',
        description:
          'Vanliga cykelkläder anpassade efter rådande väder brukar fungera bra. Ofta används uttrycket "fri klädsel" som betyder att man inte behöver ha heltäckande klädsel, det är annars är ett krav när man springer orientering i skogen.',
        icon: 'tabler:shirt',
      },
      {
        title: 'Kompass',
        description:
          'För att kunna passa kartan mot norr kan en kompass användas, men då man oftast följer tydliga terrängföremål är det vanligt att det fungerar lika bra att passa kartan efter naturen - dvs. utan kompass. Det finns speciella kompasser som fästs runt handleden eftersom en vanlig handhållen kompass är svår att använda samtidigt som man cyklar.',
        icon: 'tabler:compass',
      },
      {
        title: 'Tidtagning',
        description:
          'Varje deltagare har med sig ett tidtagningschip som registrerar kontrollerna, beroende på system behöver man antingen stanna för att "stämpla" eller så registreras kontrollen automatisk i farten. Det i dagsläget vanligaste är SportIdent Air+ med SIAC, då registreras kontrollen automatiskt vid passage.',
        icon: 'tabler:clock-play',
      },
    ]}
  >
  </Features>


  <Content
    tagline="Lär dig mer"
    title="Fakta om sporten"
    subtitle=""
    isReversed
    items={[
    {
      title: 'Förkortning:',
      description:
        `MTBO är den vedertagna förkortningen av mountainbikeorientering - både i Sverie
        och internationellt. Tidigare har förkortningarna MtbO och MTB-O använts men sedan
        ett par år tillbaka är det alltså MTBO med stora bokstäver och utan bindestreck som
        gäller.  Förkortningen MTBO används framförallt när man kommunicerar med dom som
        redan är  insatta i sporten och i annat fall kan man använda sig av MTB-orientering,
        cykelorientering eller helt enkelt skriva ut hela ordet mountainbikeorientering.
        Alla vet vad orientering, cykel och mountainbike är!`,
    },
    {
      title: 'Bakgrund:',
      description: `Mountainbikeorientering (MTBO) har funnits i mer än 10 år i Sverige och tävlingar där alla är välkomna
      arrangeras nu med jämna mellanrum. Sporten är relativt sett större i andra länder, framförallt
      söderöver i Europa där cykling är en stor sport med mycket kunnande om hur man tränar cykling och arrangerar cykeltävlingar.
      I Sverige där det finns många orienterare och konditionsidrottare finns stor potential för att sporten fortsätter växa.
      Troligen har även andra länders avsaknad av allemansrätt medfört att man fått hålla sig till stigar och vägar.`,
    },
    ]}
    image={{
      src: '~/assets/images/about2.jpg',
      alt: 'Mountainbikeorienterare närbild med kartställ och nummerlapp',
    }}
  >
  <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>


</Layout>
