---
import PageLayout from '../layouts/PageLayout.astro';
---
<PageLayout>
  <main class="prose prose-invert mx-auto my-12 dark:prose-invert">
    <header>
       <h1>Facebook Privacy Policy</h1>
    </header>
    <p>
      Facebook Privacy Policy for Mountainbikeorientering.se
    </p>
    <p>
      This privacy policy describes how Mountainbikeorientering.se ("we", "us", or "our") collects, uses, and shares your personal information when you visit our Facebook page.
    </p>
    <p>
      Information We Collect
    </p>
    <p>
      We do not collect any personal information from you through our Facebook page beyond the information that is publicly available on your Facebook profile. This may include your name, profile picture, and any information you have chosen to make public.
    </p>
    <p>
      How We Use Your Information
    </p>
    <p>
      We may use the information we collect from you for the following purposes:
    </p>

    <ul>
      <li>To respond to your comments and messages.</li>
      <li>To analyze how you interact with our Facebook page to improve our content and services.</li>
    </ul>

    <h2>Sharing Your Information</h2>
    <p>
      We will not share your personal information with any third-party companies or organizations without your consent. However, please note that Facebook may collect and share your information in accordance with its own privacy policy. We recommend that you review Facebook's privacy policy to understand how they collect and share your information.
    </p>
    <p>
      Your Choices
    </p>
    <p>
      You can control the information you share on Facebook through your privacy settings. You can also choose to delete your comments and messages from our Facebook page at any time.
    </p>
    <p>
      Changes to This Privacy Policy
    </p>
    <p>
      We may update this privacy policy from time to time. We will post any changes on this page and encourage you to review our privacy policy periodically.
    </p>
    <p>
      Contact Us
    </p>
    <p>
      If you have any questions about this privacy policy, please contact us at <a href="mailto:mountainbikeorientering@gmail.com">mountainbikeorientering@gmail.com</a>.
    </p>
    <p>
      We may use Facebook Pixel and other Facebook technologies to track website visitors for marketing and analytics purposes.

    </p>
    <p>
      By visiting Mountainbikeorientering.se, you acknowledge that these Facebook technologies may be in use and that your data may be shared with Facebook.
    </p>      
  </main>
</PageLayout>