---
---

<span class="self-center ml-2 text-2xl font-bold whitespace-nowrap">
  <span class="block mb-1">
    <span class="w-8 h-8 bg-cover mr-1.5 float-left rounded-sm bg-[url(~/assets/favicons/favicon.svg)] hidden sm:inline"></span>
    <span class="text-primary highlight">mountainbike</span>
    <span class="text-accent highlight">orientering.se</span>
  </span>
</span>
