---
---

<span class="self-center ml-2 text-2xl font-bold whitespace-nowrap">
  <span class="block mb-1">
    <span class="w-8 h-8 bg-cover mr-1.5 float-left rounded-sm bg-[url(~/assets/favicons/favicon.svg)]"></span>
    <span class="text-primary highlight hidden sm:inline">mountainbike<span class="text-accent highlight hidden sm:inline">orientering.se</span>
    </span>

  </span>
</span>
